DJANGO_SECRET_KEY=replace-with-a-long-random-string
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=lottery.example.com,127.0.0.1,localhost,https://zjcj.2866185.cn
DJANGO_CSRF_TRUSTED_ORIGINS=https://zjcj.2866185.cn

DB_NAME=xfcj
DB_USER=xfcj
DB_PASSWORD=Qpif8f4HTtAadr4Q
DB_HOST=172.18.0.1
DB_PORT=5432
